<template>
    <v-app>
        <div class='text-center justify-center'>
            <v-img src='@/assets/logo.svg' max-height='69px' contain class='mx-auto my-4 py-4'></v-img>
            <div class='text-h6'>Deezer user uploaded MP3s as a cloud storage is a great idea.</div>
            <div class='text-h6'>Free 400GB CDN storage!</div>
            <Login class='my-4'></Login>
        </div>

        <div class='my-4 px-4 text-center'>

            <div class='text-h4 py-2'>What?</div>
            <div class='text-subtitle-1'>
                This is a cloud storage based on Deezer's user uploaded MP3s. Any file can be uploaded, any size.
            </div>

            <div class='text-h4 py-2 mt-4'>How to register?</div>
            <div class='text-subtitle-1'>
                You can create free account on <a href='https://deezer.com'>https://deezer.com</a> and copy the ARL cookie here.
                How to get ARL cookie: <a href='https://notabug.org/RemixDevs/DeezloaderRemix/wiki/Login+via+userToken'>Instructions</a>
            </div>

            <div class='text-h4 py-2 mt-4'>Limits?</div>
            <div class='text-subtitle-1'>
                Deezer limits to 2000 files, 200MB each. However you can upload any size file and it will be automatically split when uploading (and joined when downloading/streaming).
            </div>

        </div>

        <!-- Footer -->
        <div class='text-center py-2 grey--text'>
            <div class='text-subtitle-2'>
                Huge thanks to <strong class='grey--text text--lighten-2'>Francesco</strong> for logo & help and <strong class='grey--text text--lighten-2'>uhwot</strong> for the idea and info.
            </div>
        </div>
    </v-app>
</template>

<script>
import Login from '@/components/Login.vue';

export default {
    name: 'App',
    components: {Login}
}
</script>
