<template>
    <v-app>
        <div @dragover='dragover' @dragleave='dragleave' @drop.prevent='dropFile' v-if='!loading && !error'>

            <v-img src='@/assets/logo.svg' max-height='69px' contain class='mx-auto my-4 py-4'></v-img>
            
            <div class='text-h6 text-center pa-4 my-2'>
                Welcome <b>{{data.info.username}}</b>, you have <b>{{data.info.count}}</b>/<b>2000</b> files. Used storage: <b>{{$filesize(data.info.size)}}</b>, available: <b>{{$filesize(data.info.freeSpace)}}</b>
            </div>

            <v-card class='ma-2 mx-auto pa-4'>
                <div class='text-subtitle-1'>Drag & drop a file or select it below:</div>
                <v-file-input label='Select stuff' v-model='uploadFilesInput' @change='selectFile'></v-file-input>
            </v-card>
            <div class='px-2'>
                <h2>Files:</h2>
                <v-list dense>
                    <File v-for='f in data.files' :file='f' :key='f.id' @deleted='loadData'></File>
                </v-list>
            </div>

            <div class='px-2 my-2'>
                <h2>Chonkers (>200MB):</h2>
                <v-list dense>
                    <MultiFile v-for='f in data.multifiles' :file='f' :key='f.id' @deleted='loadData'></MultiFile> 
                </v-list>
            </div>

            <div class='px-2 my-2'>
                <h2>Music:</h2>
                <v-list dense>
                    <Song v-for='f in data.songs' :song='f' :key='f.id' @deleted='loadData'></Song>
                </v-list>
            </div>

            <div class='px-2 my-2'>
                <h2>Settings:</h2>
                <v-list dense>
                    <!-- Refresh -->
                    <v-list-item dense @click='loadData'>
                        <v-list-item-content>
                            <v-list-item-title>Refresh</v-list-item-title>
                            <v-list-item-subtitle>Force reload data.</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <!-- Logout -->
                    <v-list-item dense @click='logOut'>
                        <v-list-item-content>
                            <v-list-item-title>Log out.</v-list-item-title>
                            <v-list-item-subtitle>This will delete saved ARL.</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </div>
        </div>
                    
        <!-- Overlays -->
        <v-overlay :value='dragOverlay' opacity='0.80'>
            <div class='text-h2 text--disabled'>yes, drop that shit</div>
        </v-overlay>

        <!-- Error -->
        <v-overlay :value='error' opacity='0.99'>
            <div class='text-center text-h4 mx-4'>Error loading data! Check your internet connection, ARL and refresh this page</div>
        </v-overlay>

        <!-- Loading -->
        <v-overlay :value='loading' opacity='0.99'>
            <v-img contain max-width='300' aspect-ration='1' src='@/assets/timmy.webp'></v-img>
        </v-overlay>

        <!-- File upload overlay -->
        <v-overlay :value='uploadOverlay' v-if='uploadFile' opacity='0.69'>
            <v-card class='pa-4 ma-auto'>
                <v-row v-if='!uploadError'>
                    <!-- Animation -->
                    <v-col md='3' sm='4' xs='0' class='d-none d-sm-flex'>
                        <v-img v-if='!uploadDone' max-height='128px' contain src='@/assets/timmy.webp'></v-img>
                        <v-img v-if='uploadDone' max-height='128px' contain src='@/assets/finished.webp'></v-img>
                    </v-col>
                    <!-- Stats -->
                    <v-col xs='12' sm='8'>
                        <div class='text-h6'>{{uploadDone ? 'Finished!' : 'Uploading...'}}</div>
                        <div class='text-center'>
                            <div class='text-subtitle-1'>{{uploadFile.name}}</div>
                            <span>{{uploadProgress}}%</span><br>
                            <span>{{$filesize(uploadedSize)}} / {{$filesize(uploadTotal)}}</span><br>
                        </div>
                        <v-progress-linear :value='uploadProgress' class='my-2'></v-progress-linear>
                    </v-col>
                </v-row>

                <!-- Error -->
                <div v-if='uploadError'>
                    <div class='text-h6 red--text'>Error uploading!</div><br>
                    <div class='text-center'>
                        Please retry the upload, or report the following error:<br>
                        <span class='text-subtitle-2'>{{uploadError}}</span>
                    </div>
                </div>


                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text v-if='!uploadDone' class='red--text' @click='cancelUpload'>
                        Cancel
                    </v-btn>
                    <v-btn text v-if='uploadDone || uploadError' @click='closeUpload'>
                        Close
                    </v-btn>
                </v-card-actions>

            </v-card>
        </v-overlay>


        <!-- Footer -->
        <div class='text-center py-2 grey--text'>
            <div class='text-subtitle-2'>
                Huge thanks to <strong class='grey--text text--lighten-2'>Francesco</strong> for logo & help and <strong class='grey--text text--lighten-2'>uhwot</strong> for the idea and info.
            </div>
        </div>
    </v-app>
</template>


<script>
import File from '@/components/File.vue';
import MultiFile from '@/components/MultiFile.vue';
import Song from '@/components/Song.vue';

//For cancelling
import axios from 'axios';

export default {
    name: 'Files',
    components: {File, MultiFile, Song},
    data() {
        return {
            data: {},
            loading: true,
            error: false,

            uploadFilesInput: [],
            dragOverlay: false,
            uploadFile: null,
            uploadOverlay: false,

            uploadProgress: 0.0,
            uploadedSize: 0,
            uploadTotal: 0,
            uploadDone: false,

            uploadError: null,
            cancelToken: null
        }
    },
    methods: {
        async startUpload() {
            let filename = this.uploadFile.name;
            let formData = new FormData();
            formData.append('file', this.uploadFile);

            //Enable cancelling
            this.cancelToken = axios.CancelToken.source();

            //POST to server
            try {
                await this.$axios.post('/upload', formData, {
                    params: {
                        id: this.data.info.lastId + 1
                    },
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        'Content-Disposition': `form-data; name="${encodeURIComponent(filename)}"`
                    },
                    onUploadProgress: (e) => {
                        this.uploadedSize = e.loaded;
                        this.uploadTotal = e.total;
                        this.uploadProgress = Math.round(((e.loaded * 10000) / e.total)) / 100;
                    },
                    cancelToken: this.cancelToken.token
                });
            //Error
            } catch (e) {
                this.uploadError = e;
            }

            this.uploadDone = true;
        },
        cancelUpload() {
            this.cancelToken.cancel('Upload cancelled.');
        },
        //Dismiss the upload dialog
        closeUpload() {
            this.uploadFile = null;
            this.uploadFilesInput = [];
            this.uploadOverlay = false;
            this.uploadDone = false;
            this.loadData();
        },
        logOut() {
            this.$cookie.delete('arl');
            location.reload();
        },
        //File selected using file input
        async selectFile(f) {
            this.uploadFile = f;
            this.uploadOverlay = true;
            await this.startUpload();
        },
        //File dropped
        dropFile(e) {
            this.dragOverlay = false;
            this.uploadFile = e.dataTransfer.files[0];
            this.uploadOverlay = true;
            this.startUpload();
        },
        //Drag events
        dragover(e) {
            e.preventDefault();
            this.dragOverlay = true;
        },
        dragleave() {
            this.dragOverlay = false;
            //if (e.pageX == 0 || e.pageY == 0) this.dragOverlay = false;
        },
        //Fetch files from api
        async loadData() {
            //Reset
            this.loading = true;
            this.data = {files: [], multifiles: [], songs: []};
            //Fetch
            try {
                let res = await this.$axios({
                    method: 'get',
                    url: '/files',
                    responseType: 'json',
                });
                if (!res || !res.data || !res.data.info) throw Error('No data!');
                this.data = res.data;
                this.loading = false;
            } catch (e) {
                this.error = true;
                this.loading = false
            }
        }
    },
    async mounted() {
        //Load files on load
        this.loadData();
    }
}
</script>