<template>
    <v-list-item-avatar>
        <v-icon :class='color'>
            {{icon}}
        </v-icon>
    </v-list-item-avatar>
</template>

<script>
export default {
    name: 'FileIcon',
    props: {
        filename: String
    },
    data() {
        return {

            categories: {
                audio: ['mp3', 'aif', 'iff', 'm3u', 'm4a', 'mpa', 'wav', 'wmv', 'flac', 'alac'],
                video: ['mp4', 'mkv', '3gp', 'mov', 'avi', 'mpg', 'mts', 'm2ts', 'wmv', 'flv'],
                document: ['doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'pdf', 'txt', 'rtf', 'odt', 'xml', 'json', 'html', 'md'],
                image: ['jpg', 'jpeg', 'gif', 'bmp', 'psd', 'ai', 'png', 'heic', 'svg'],
                program: ['apk', 'exe', 'bin', 'app', 'dmg', 'com', 'bat', 'jar'],
                archive: ['zip', 'rar', '7z', 'tar', 'gz']
            },

            icons: {
                audio: 'mdi-music-note',
                video: 'mdi-movie',
                document: 'mdi-file-document',
                image: 'mdi-image',
                program: 'mdi-application',
                archive: 'mdi-zip-box',
                other: 'mdi-file'
            },

            //Classlists
            colors: {
                audio: 'green darken-2',
                video: 'red darken-2',
                document: 'blue darken-2',
                image: 'yellow darken-2',
                program: 'purple darken-2',
                archive: 'teal darken-2',
                other: 'grey darken-2'
            }

        }
    },
    computed: {
        category() {
            //Get extension
            let s = this.filename.split('.');
            let ext = s[s.length - 1].toLowerCase();

            for (let category of Object.keys(this.categories)) {
                if (this.categories[category].includes(ext)) return category;
            }
            return 'other';
        },
        //Get icon
        icon() {
            return this.icons[this.category];
        },
        color() {
            return this.colors[this.category];
        }

    }
}
</script>