<template>
    <v-card max-width='420' class='mx-auto'>
        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class='headline'>Login</v-list-item-title>
                <v-list-item-subtitle>Login using your Deezer account ARL cookie.</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-text-field label='tonke pls' class='px-4' v-model='arl'>
        </v-text-field>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color='primary' :loading='loading' @click='login'>Login</v-btn>
        </v-card-actions>
        <v-snackbar v-model='showSnackbar'>
            {{snackbar}}
            <template v-slot:action='{ attrs }'>
                <v-btn text v-bind='attrs' @click='showSnackbar = null'>Close</v-btn>
            </template>
        </v-snackbar>
    </v-card>
</template>

<script>
export default {
    name: 'Login',
    data() {
        return {
            arl: this.$cookie.get('arl'),
            loading: false,
            showSnackbar: false,
            snackbar: ''
        }
    },
    methods: {
        async login() {
            //Reset
            this.showSnackbar = false;

            if (this.arl.length < 100) {
                this.showSnackbar = true;
                this.snackbar = 'Invalid ARL!';
                return;
            }

            //Post request
            this.loading = true;
            let data;
            try {
                let res = await this.$axios({
                    url: '/login',
                    method: 'post',
                    data: {arl: this.arl},
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                data = res.data;
            } catch (_) {true;}

            //Error
            if (!data || !data.arl) {
                this.snackbar = 'Error logging in!';
                this.showSnackbar = true;
                this.loading = false;
                return;
            }

            //Save data
            this.$cookie.set('arl', data.arl, 1);
            this.$root.auth = data;

            this.loading = false;
            //Redirect
            this.$root.currentRoute = '/files';
        }
    }
}
</script>
