<template>
<div>
    <v-list-item dense @click='previewOverlay = true'>
        <FileIcon :filename='file.name'></FileIcon>
        <v-list-item-content>
            <v-list-item-title>{{file.name}}</v-list-item-title>
            <v-list-item-subtitle>{{$filesize(file.size)}}, Parts: {{file.parts.length}}, ID: {{file.id}}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action class='d-inline'>
            <!-- Delete -->
            <v-btn icon @click.stop='deleteFile'>
                <v-icon>mdi-delete</v-icon>
            </v-btn>
            <!-- Share link -->
            <v-btn icon @click.stop='shareOverlay = true'>
                <v-icon>mdi-link</v-icon>
            </v-btn>
            <!-- Download -->
            <a :href='downloadUrl' :download='file.name' style='text-decoration: none;' @click.stop>
                <v-btn icon>
                    <v-icon>mdi-download</v-icon>
                </v-btn>
            </a>
        </v-list-item-action>
    </v-list-item>

    <!-- Share overlay -->
    <v-overlay :value='shareOverlay' opacity='0.9'>
        <ShareLink :urlPart='file.urlPart' :name='file.name' @close='shareOverlay = false'></ShareLink>
    </v-overlay>

    <!-- Preview overlay -->
    <v-overlay :value='previewOverlay' opacity='0.9'>
        <Preview 
        :file='file' 
        type='multifile'
        @close='previewOverlay = false'
        @delete='deleteFile'
        @share='shareOverlay = true'
        ></Preview>
    </v-overlay>

</div>
</template>

<script>
import ShareLink from '@/components/ShareLink.vue';
import FileIcon from '@/components/FileIcon.vue';
import Preview from '@/components/Preview.vue';

export default {
    name: 'MultiFile',
    components: {ShareLink, FileIcon, Preview},
    props: {
        file: Object
    },
    data() {
        return {
            shareOverlay: false,
            previewOverlay: false
        }
    },
    methods: {
        async deleteFile() {
            if (confirm("ya sure 'bout that?")) {
                await this.$axios({
                    method: 'post',
                    url: '/delete',
                    data: this.file.parts.map((p) => p.did),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                this.$emit('deleted');
            }
        }
    },
    computed: {
        downloadUrl() {
            return `${window.location.origin}/get?n=${encodeURIComponent(this.file.name)}&f=${this.file.urlPart}`
        }
    }
}
</script>