<template>
<v-card max-width='80vw'>

    <v-card-title class="headline">
        Details
        <v-spacer></v-spacer>
        <v-btn icon @click='$emit("close")'>
            <v-icon>mdi-close</v-icon>
        </v-btn>
    </v-card-title>
    <v-card-subtitle>
        {{file.name}}<br>
        {{$filesize(file.size)}}<br>
        <div v-if='type == "song"'>
            {{$duration(file.duration)}}<br>
            Artist: {{file.artist}}<br>
            Album: {{file.album}}<br>
        </div>
        ID: {{file.id}}<br>
        <div v-if='type == "multifile"'>
            Parts: {{file.parts.length}}
        </div>
    </v-card-subtitle>
    
    <!-- Preview -->
    <div v-if='previewType'>
        <v-card-title class='py-1'>Preview</v-card-title>

        <div class='text-center'>
            <audio controls v-if='previewType == "audio"'>
                <source :src='url'>
            </audio>

            <video controls v-if='previewType == "video"' height="200">
                <source :src='url'>
            </video>
        </div>
        
        <v-img max-height='200' contain :src='url'>
        </v-img>
    </div>

    <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn text class='red--text' @click='deleteFile'>
            <v-icon>mdi-delete</v-icon>
            <div class='d-none d-sm-flex'>Delete</div>
        </v-btn>
        
        <v-btn text @click='shareLink'>
            <v-icon>mdi-content-copy</v-icon>
            <div class='d-none d-sm-flex'>Share</div>
        </v-btn>

        <a :href='url' :download='file.name' style='text-decoration: none;'>
            <v-btn text>
                <v-icon>mdi-download</v-icon>
                <div class='d-none d-sm-flex'>Download</div>
            </v-btn>
        </a>

        <v-btn text @click='$emit("close")'>
            <v-icon>mdi-close</v-icon>
            <div class='d-none d-sm-flex'>Close</div>
        </v-btn>

    </v-card-actions>

</v-card>
</template>

<script>
export default {
    name: 'Preview',
    props: {
        file: Object,
        //file, multifile, song
        type: String,
    },
    data() {
        return {
            //Supported preview formats
            audioFormats: ['.mp3', '.ogg', '.wav', '.flac', '.aac'],
            imageFormats: ['.jpg', '.gif', '.png', '.svg', '.bmp', '.ico', '.apng', '.jpeg', '.jfif'],
        }
    },
    methods: {
        shareLink() {
            this.$emit('share');
            this.$emit('close');
        },
        deleteFile() {
            this.$emit('delete');
            this.$emit('close');
        }
    },
    computed: {
        //Which preview to use
        previewType() {
            if (this.type == 'song') return 'audio';
            //Only .mp4 & .webm are widely supported video formats
            if (this.file.name.endsWith('.mp4') || this.file.name.endsWith('.webm')) return 'video';
            
            //Audio
            for(let f of this.audioFormats) {
                if (this.file.name.endsWith(f)) return 'audio';
            }
            //Images
            for(let f of this.imageFormats) {
                if (this.file.name.endsWith(f)) return 'image';
            }
            
            return false;
        },
        url() {
            return `${window.location.origin}/get?n=${encodeURIComponent(this.file.name)}&f=${this.file.urlPart}`;
        }
    }
}
</script>