<template>
<v-card class='pa-4' max-width='80vw'>

    <v-card-title class="headline pa-0">
        Share direct link
        <v-spacer></v-spacer>
        <v-btn icon @click='$emit("close")'>
            <v-icon>mdi-close</v-icon>
        </v-btn>
    </v-card-title>

    <v-text-field label='Download filename' class='mb-1 mt-3' v-model='filename'></v-text-field>
    <div class='text-h6'>Link:</div>
    <div class='text-caption'>{{link}}</div>

    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn icon @click='copy'>
            <v-icon>mdi-content-copy</v-icon>
        </v-btn>
        <v-btn text @click='$emit("close")'>Close</v-btn>
    </v-card-actions>

    <!-- Text copied snackbar -->
    <v-snackbar v-model='copySnackbar' timeout='1000'>
        Copied to clipboard!
    </v-snackbar>
</v-card>
</template>

<script>
export default {
    name: 'ShareLink',
    props: {
        urlPart: String,
        name: String
    },
    data() {
        return {
            //Props cannot be edited
            filename: this.name,

            copySnackbar: false
        }
    },
    methods: {
        //Copy to clipboard
        copy() {
            const e = document.createElement('textarea');
            e.value = this.link;
            document.body.appendChild(e);
            e.select();
            document.execCommand('copy');
            document.body.removeChild(e);

            //Snackbar
            this.copySnackbar = true;
        }
    },
    computed: {
        link() {
            return `${window.location.origin}/get?n=${encodeURIComponent(this.filename)}&f=${this.urlPart}`;
        }
    }
}
</script>