<template>
<div>
    <v-list-item dense @click='previewOverlay = true'>
        <v-list-item-avatar>
            <v-img :src='song.thumb'></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
            <v-list-item-title>{{song.name}}</v-list-item-title>
            <v-list-item-subtitle>{{$duration(song.duration)}}, {{$filesize(song.size)}}, Artist: {{song.artist}}, Album: {{song.album}}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action class='d-inline'>
            <!-- Delete -->
            <v-btn icon @click.stop='deleteFile'>
                <v-icon>mdi-delete</v-icon>
            </v-btn>
            <!-- Share link -->
            <v-btn icon @click.stop='shareOverlay = true'>
                <v-icon>mdi-link</v-icon>
            </v-btn>
            <!-- Download -->
            <a :href='downloadUrl' :download='song.name' style='text-decoration: none;' @click.stop>
                <v-btn icon>
                    <v-icon>mdi-download</v-icon>
                </v-btn>
            </a>
        </v-list-item-action>
    </v-list-item>

    <!-- Share overlay -->
    <v-overlay :value='shareOverlay' opacity='0.9'>
        <ShareLink :urlPart='song.urlPart' :name='filename' @close='shareOverlay = false'></ShareLink>
    </v-overlay>

    <!-- Preview overlay -->
    <v-overlay :value='previewOverlay' opacity='0.9'>
        <Preview 
        :file='song' 
        type='song'
        @close='previewOverlay = false'
        @delete='deleteFile'
        @share='shareOverlay = true'
        ></Preview>
    </v-overlay>

</div>
</template>

<script>
import ShareLink from '@/components/ShareLink';
import Preview from '@/components/Preview.vue';

export default {
    name: 'Song',
    components: {ShareLink, Preview},
    props: {
        song: Object
    },
    data() {
        return {
            shareOverlay: false,
            previewOverlay: false
        }
    },
    methods: {
        async deleteFile() {
            if (confirm("ya sure 'bout that?")) {
                await this.$axios({
                    method: 'post',
                    url: '/delete',
                    data: [this.song.id],
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                this.$emit('deleted');
            }
        }
    },
    computed: {
        downloadUrl() {
            return `${window.location.origin}/get?f=${this.song.urlPart}&n=` + encodeURIComponent(this.filename);
        },
        filename() {
            let name = this.song.name;
            //Remove .mp3, if has own extension
            if (this.song.name.match(/\..{2, 5}\.mp3$/)) {
                name = name.replace(/\.mp3$/, '');
                return name;
            }
            //Add extension, if missing
            if (!this.song.name.match(/\..{2..4}$/)) name += '.mp3';
            return name;
        }
    }
}
</script>